<section class="wrapper bg-light">
    <div class="container py-14 py-md-12">
      <div class="row" data-cues="slideInDown" data-group="page-title" data-delay="100">
        <div class="text-center col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h3 class="display-4 mb-9 px-xl-11">Book a free consultation; expect a reply within 1 business day 🎯</h3>
        </div>
        <div class="card col-xl-10 mx-auto">
          <div class="row card-body gy-10 gx-lg-8 gx-xl-12">
            <div class="col-lg-12">
              <form id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate needs-validation" method="post" action="https://tech.us17.list-manage.com/subscribe/post?u=14840a8116fc972efb3519035&amp;id=375c5195d2&amp;v_id=4165&amp;f_id=005e57e0f0" novalidate>
                <div class="messages"></div>
                <div class="row gx-4">
                  <div class="col-md-6">
                    <div class="form-floating mb-4">
                      <input id="form_name" type="text" name="FNAME" class="form-control" placeholder="Jane" required>
                      <label for="form_name">First Name *</label>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please enter your first name.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-md-6">
                    <div class="form-floating mb-4">
                      <input id="form_lastname" type="text" name="LNAME" class="form-control" placeholder="Doe">
                      <label for="form_lastname">Last Name</label>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please enter your last name.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-md-6">
                    <div class="form-floating mb-4">
                      <input id="form_email" type="email" name="EMAIL" class="form-control" placeholder="jane.doe@example.com" required>
                      <label for="form_email">Email *</label>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid email address.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-md-6">
                    <div class="form-select-wrapper mb-4">
                      <select class="form-select" id="form-select" name="MSGCAT" required>
                        <option selected disabled value="">Select a category</option>
                        <option value="IT Solutions / Consulting">IT Solutions / Consulting</option>
                        <option value="Technical Training">Technical Training</option>
                        <option value="Quantitative Training">Quantitative Training</option>
                        <option value="Strategic Advisory">Strategic Advisory</option>
                        <option value="Cloud &amp; Infrastructure">Cloud &amp; Infrastructure</option>
                        <option value="Application Engineering">Application Engineering</option>
                        <option value="Data Management">Data Management</option>
                        <option value="Business Analytics">Business Analytics</option>
                        <option value="Other">Other</option>
                      </select>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please select a category.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-12">
                    <div class="form-floating mb-4">
                      <textarea id="form_message" name="MESSAGE" class="form-control" placeholder="Your message" style="height: 150px" required></textarea>
                      <label for="form_message">Message *</label>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please enter your messsage.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-12">
                    <div class="form-check mb-4">
                      <input class="form-check-input" name="gdpr[91617]" type="checkbox" value="Y" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        <p>I have read and understood the AxOps <a href="/about-us/privacy-policy" target="_blank" class="hover">Privacy Policy</a>. I understand that AxOps use Mailchimp as their marketing platform. By submitting a message via this contact form, I acknowledge that my information will be transferred to Mailchimp for processing.</p>
                        <p><strong>After you hit "Send Message"</strong>, you'll receive an email asking you to <strong><u>confirm your email address</u></strong>. Kindly click on the <strong>confirmation link</strong> in the email to ensure we can respond to your query in timely fashion. <a href="https://mailchimp.com/legal/terms" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
                        <p>Many thanks!<br /><br />Sincerely,<br />The AxOps Team</p>
                      </label>
                      <div id="mce-responses" class="clear foot">
                        <br /><br />
                        <div class="display-6 mb-9 px-xl-11" id="mce-error-response" style="display:none; color: red;"></div>
                        <div class="display-6 mb-9 px-xl-11" id="mce-success-response" style="display:none; color: rgb(0, 94, 255);"></div>
                      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <input type="text" name="b_14840a8116fc972efb3519035_375c5195d2" tabindex="-1" value="" style="display:none;">
                      <div class="invalid-feedback">
                        You must agree to the Privacy Policy before submitting this form.
                      </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-12">
                    <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3" value="Send Message">
                    <p class="text-muted"><strong>*</strong> Fields marked with an asterisk (*) are required.</p>
                  </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
              </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[6]='MSGCAT';ftypes[6]='dropdown';fnames[5]='MESSAGE';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
