  {% if config.mode == "live" %}
  <footer class="bg-dark text-inverse">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="{{ site.url | append: site.nav_logo }}" srcset="{{ site.url | append: site.nav_logo2x }}" alt="" />
            <p class="mb-2">{{ site.company_description }}<br /><br />© {{ site.time | date: "%Y" }}. All Rights Reserved. <br /><a href="/about-us/privacy-policy" aria-label="Read our Privacy Policy.">> <u>Privacy Policy</u></a><br /><a href="/about-us/cookie-policy" aria-label="Read our Cookie Policy.">> <u>Cookie Policy</u></a></p>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">What We Do</h4>
            <ul class="list-unstyled  mb-0">
              <li><a href="/solutions" aria-label="{{ config.button_cta1_aria_label }}">Solutions</a></li>
              <li><a href="/case-studies" aria-label="{{ config.button_cta2_aria_label }}">Case Studies</a></li>
              <li><a href="/solutions/technical-training" aria-label="Explore our Technical Training programmes.">Technical Training</a></li>
              <li><a href="/solutions/quantitative-training" aria-label="Explore our Quantitative R&D Training programmes.">Quant R&D Training</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Who We Are</h4>
            <ul class="list-unstyled  mb-0">
              <li><a href="/about-us/our-vision" aria-label="Who we are, and what we do. Read our Vision Statement.">Our Vision</a></li>
              <li><a href="/about-us/our-partners" aria-label="We partner with select IT partners to augment our services.">Our Partners</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-12 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Contact Us</h4>
            <p class="mb-2">Calle Juan Urbieta, 16, 1ºA, 28007, Madrid - Spain.</p>
            <p class="mb-2"><a href="/about-us/contact" class="btn btn-sm btn-primary rounded-pill" aria-label="Get In Touch Today!">Get In Touch Today 🤝</a></p>
            <nav class="nav social social-white">
              <a href="https://www.linkedin.com/company/axops/" target="_blank" aria-label="Follow AxOps on LinkedIn"><i class="uil uil-linkedin"></i> Follow AxOps on LinkedIn</a>
              <!-- <a href="#"><i class="uil uil-youtube"></i></a> -->
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  {% endif %}
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="{{ site.url }}/assets/js/plugins.js"></script>
  <script src="{{ site.url }}/assets/js/theme.js"></script>
</body>
</html>