<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <!-- <title>{{ page.title }} | {{ site.title }}</title> -->
  <link rel="shortcut icon" href="{{ site.favicon }}">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/plugins.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  <link rel="preload" href="{{ site.url }}/assets/css/fonts/dm.css" as="style" onload="this.rel='stylesheet'">

  <!-- HTML Meta Tags -->
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ site.baseurl | append: page.permalink }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="{{ site.url | append: page.og_image_url }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{ site.baseurl | split: '//' | last | split: '/' | first }}">
  <meta property="twitter:url" content="{{ site.baseurl | append: page.permalink }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url | append: page.og_image_url }}">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MQBZDLB');</script>
  <!-- End Google Tag Manager -->

  <!-- Begin: CookieBot: Banner Script -->
  <!-- <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="3f731cd7-57dc-4e2f-b612-24a4cbaf3c8d" data-blockingmode="auto" type="text/javascript"></script> -->
  <!-- End: CookieBot: Banner Script -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQBZDLB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->