{% assign content_config = site.data.content.config %}
{% assign current_page = site.data.pageconfig %}
{% assign config = current_page.index %}
  <header class="wrapper bg-soft-primary">
    <nav class="navbar navbar-expand-lg classic transparent navbar-light">
      <div class="container flex-lg-row flex-nowrap align-items-center">
        <div class="navbar-brand w-100">
          <a href="./index.html">
            <img src="{{ site.nav_logo }}" srcset="{{ site.nav_logo2x }}" alt="" />
          </a>
        </div>
        <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
          <div class="offcanvas-header d-lg-none">
            <h3 class="text-white fs-30 mb-0">{{ content_config.name }}</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
            <ul class="navbar-nav">
              {% for item in site.data.pageconfig.navigation %}
                {% if item.enabled %}
                  {% if item.has_children %}
                  <li class="nav-item dropdown">
                    {% assign child_base_url = site.baseurl | append: item.url %}
                    <a class="nav-link dropdown-toggle" href="{{ child_base_url }}" data-bs-toggle="dropdown">{{ item.name }}</a>
                    {% if item.multi_column %}
                    <div class="dropdown-menu dropdown-lg">
                      <div class="dropdown-lg-content">
                        {% for subitem in item.children %}
                        {% if subitem.enabled %}
                        {% assign child_url = child_base_url | append: subitem.url %}
                        <div>
                          <h6 class="dropdown-header">{{ subitem.name }}</h6>
                          <ul class="list-unstyled">
                            {% for subchild in subitem.children %}
                            {% if subchild.enabled %}
                            {% assign child_url = child_url | append: subchild.url %}
                            <li><a class="dropdown-item" href="{{ child_url }}">{{ subchild.name }}</a></li>
                            {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                        <!-- /.column -->
                        {% endif %}
                        {% endfor %}
                      </div>
                      <!-- /auto-column -->
                    </div>
                    {% else %}
                    <ul class="dropdown-menu">
                      {% for subitem in item.children %}
                      {% if subitem.enabled %}
                      {% assign child_url = child_base_url | append: subitem.url %}
                      <li class="nav-item">
                        <a class="dropdown-item" href="{{ child_url }}">{{ subitem.name }}</a>
                      </li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ item.url }}" data-bs-toggle="dropdown">{{ item.name }}</a>
                  </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.offcanvas-body -->
        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.navbar-other -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
  </header>
  <!-- /header -->