{% include header.html %}

<!-- Header -->
{% include header_site.html %}
<!-- /header -->

{% assign pageconfig = site.data.pageconfig.solutions.pages | map: page.name | first %}

<div class="content-wrapper">
    <!-- .content-wrapper -->
    <section class="wrapper bg-light wrapper-border">
        <div class="container py-14 py-md-12">
          <div class="row text-center">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <h2 class="fs-15 text-uppercase text-muted mb-3">{{ pageconfig.title }}</h2>
              <h3 class="display-4 mb-9 px-xl-11">{{ pageconfig.tagline }}</h3>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="row gx-lg-8 gx-xl-12 gy-8">
            {% for outcome in pageconfig.desired_outcomes %}
            <div class="col-md-6 col-lg-4">
              <div class="d-flex flex-row">
                <div>
                  <img src="{{ site.url }}{{ outcome.image }}" class="svg-inject icon-svg icon-svg-sm text-aqua me-4" alt="" />
                </div>
                <div>
                  <h4 class="mb-1">{{ outcome.title }}</h4>
                  <p class="mb-0">{{ outcome.description }}</p>
                </div>
              </div>
            </div>
            <!--/column -->
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light wrapper-border">
        <div class="container py-14 py-md-8">
          <div class="row mt-8 mt-md-12">
            <div class="col-md-10 offset-md-1 text-justify">
              <h2 class="display-4 mb-9 px-xl-11 text-center">Working with the AxOps&#8482; Team</h2>
              {{ pageconfig.pitch }}
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    {% include contact-form.html %}
</div>
<!-- /.content-wrapper -->

<!-- Footer -->
{% include footer.html %}
<!-- /footer -->